<?xml version="1.0" encoding="UTF-8"?>
<!--
    @(#) $Id$
    2016-11-14: /home/gfis in comment replaced
    2016-10-11: Servlet 3.0 for Tomcat >= V7; ErrorServlet; DbatServlet now in package dbat.web
    2012-07-04: comments rearranged
    2012-03-16: without listener
    2012-02-06: DTD for 2.4 because Winstone dislikes the 2.5 XSD
    2011-05-20: Dbat2Servlet replaces DbatServlet
    2011-05-09: servlet2
    2010-09-24: 2.5 xsd; DataSource and ServletContextListener
    2010-03-11: context-parm>s commented out
    2009-10-11: with <context-parm>s
    2005-11-25: copied from checkdig
-->
<!--
 * Copyright 2006 Dr. Georg Fischer <punctum at punctum dot kom>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <display-name>Dbat</display-name>
    <description>
        DataBase Administration Tool
    </description>

    <context-param>
        <param-name>title</param-name>
        <param-value>DB Administration Tool</param-value>
    </context-param>

<!--What is the base directory for "http://.../dbat/servlet?spec=".
    If this parameter is omitted, the specifications are found in the
    web application context: http://.../dbat/spec/*.xml

    <context-param>
        <param-name>specPath</param-name>
        <param-value>/var/lib/tomcat/dbat/web/spec</param-value>
    </context-param>
-->

    <env-entry>
        <env-entry-name>dataSources</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>worddb,wiki</env-entry-value>
    </env-entry>

    <resource-ref>
        <res-ref-name>jdbc/worddb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <!-- Servlets and their mappings to URLs-->
    <servlet>
        <servlet-name>DbatServlet</servlet-name>
        <servlet-class>org.teherba.dbat.web.DbatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbatServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>org.teherba.common.web.ErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/ErrorServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/ErrorServlet</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

</web-app>
